
@mixin font ($family, $size, $height, $weight, $color){
    font-family: $family;
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
    color: $color;
}

@mixin flex ( $display, $direction, $justify, $align, $wrap) {

    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}